/* app */
.clr-hue trough {
    background: linear-gradient(90deg,
        rgba(255,0,0,1) 0%,
        rgba(255,255,0,1) 16.66%,
        rgba(0,255,0,1) 33.33%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,255,1) 66.66%,
        rgba(255,0,255,1) 83.33%,
        rgba(255,0,0,1) 100%
    );
}
.clr-hue {
    padding: 0;
}
.clr-hue slider {
	box-shadow: inset 0 0 0 6px #fff;
	background: none;
}

.clr-palette button image {
	color: #fff;
}
.clr-palette button.light image {
	color: #000;
}
.clr-props {
    background: @surface_container_bg_color;
}
