/* app */
@define-color accent_color #3742fa;
@define-color accent_bg_color #3742fa;
@define-color window_bg_color #fff;
@define-color headerbar_bg_color #fff;

.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.main-box {
  background: linear-gradient(135deg, @window_bg_color, mix(@window_bg_color, @accent_bg_color, 0.2));
}

.clr-hue trough {
    background: linear-gradient(0deg,
        rgba(255,0,0,1) 0%,
        rgba(255,255,0,1) 16.66%,
        rgba(0,255,0,1) 33.33%,
        rgba(0,255,255,1) 50%,
        rgba(0,0,255,1) 66.66%,
        rgba(255,0,255,1) 83.33%,
        rgba(255,0,0,1) 100%
    );
    min-width: 20px;
    padding: 6px 0;
}

.clr-hue slider {
	box-shadow: inset 0 0 0 4px #fff;
	border: none;
	min-width: 20px;
	min-height: 20px;
	background: none;
  border-radius: 999px;
}

.clr-props-message:disabled {
  color: rgba(255,255,255,0);
  transition: 500ms color;
}

.clr-color {
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px @borders;
}
.clr-palette button image {
	color: #fff;
}
.clr-palette button.light image {
	color: #333;
}

.list-action-button {
  padding: 10px;
  border-radius: 999px;
}

.view-title {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
.view-title-bold {
  font-size: 1.5rem;
  font-weight: 600;
}
